.auth-form-wrapper {
	/* background-color: rgba(228, 228, 228, 0.582); */
	border: rgb(204, 204, 204) solid 1px;
	border-radius: 5px;
	/* padding: 40px; */
}

.auth-form-create-page-info {
	margin: 20px 20px 30px 20px;
	display: flex;
	align-items: center;
}

.auth-form-create-page-info h1 {
	margin-bottom: 0;
	margin-left: 30px;
	display: flex;
	align-items: center;
	font-size: 2em;
}



.ant-card.ant-card-bordered.auth-form-wrapper .ant-card-body {
	padding-top: 10px;
}

.ant-card.ant-card-bordered.signup-details-wrapper .ant-card-body {
	padding: 20px;
}

.ant-card.ant-card-bordered.auth-form-wrapper .ant-card-body hr, .auth-hr {
	margin: 20px 0 20px 0;
}

.signupDetails-form-div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.signupDetails-form-div h2 {
	margin: 20px 0 50px 0;
}

.signup-details-wrapper p {
	font-size: 1.2em;
	font-weight: 400;
}

.ant-form.ant-form-horizontal.signupDetails-form {
	min-width: 50vw;
}

.signupDetails-form-submit-button-div {
	margin: 50px 0 10px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* padding after label in form */
.ant-col.ant-form-item-label.ant-form-item-label-left.ant-col-xs-24.ant-col-sm-7 {
	margin: 0;
	padding: 0 0 5px 0;
}

.ant-col.ant-form-item-label.ant-form-item-label-left.ant-col-xs-24.ant-col-sm-7
	label {
	font-size: 1.1em;
	font-weight: 500;
}

.ant-row.ant-form-item.email-check .ant-col.ant-form-item-control {
	margin: 0;
	padding: 0;
}

.ant-select.ant-select-auto-complete.city-search-autocomplete.ant-select-single.ant-select-show-search
	.ant-select-selector {
	height: 42px;
}

.signup-details-options {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin: 30px 10px 30px 10px;
}

.ant-btn.signup-details-options-buttons {
	padding: 20px 0 20px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 140px;
	border-radius: 30px;
	background-color: #3b69c0;
	transition: filter 0.4s;
}

.ant-btn.signup-details-options-buttons:hover{
	filter:brightness(1.15);
}

.ant-btn.signup-details-options-buttons:disabled {
	background-color: rgba(255, 133, 20, 0.918);
	transition: none;
}

.ant-btn.signup-details-options-buttons span {
	font-size: 1.1em;
	font-weight: 500;
	color: white;
}

.ant-picker {
	height: 40px;
}

.ant-select.signup-selector.ant-select-single.ant-select-show-arrow.ant-select-show-search .ant-select-selector {
	height: 40px;
}

@media only screen and (max-width: 768px) {
	.ant-form.ant-form-horizontal.signupDetails-form {
		min-width: 80%;
	}

	.auth-form-create-page-info h1 {
		font-size: 1.5em;
	}
	
	.signup-details-options {
		height: 250px;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
	}

	.ant-btn.signup-details-options-buttons {
		justify-content: center;
		align-items: center;
		width: 140px;
	}
	
}
