.spinner-screen {
    display: block;
    height: 100vh;
}
.spinner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	text-align: 'center';
	z-index: 1;
    min-height: 100vh;
}

.spinner h1 {
	margin-top: 35px;
}
