
.story-content{
	
    font-size: 1em;
    
	
}






.event-title {
	font-size: 1.8em;
	font-weight: 700;
}

.ant-card.ant-card-bordered.events-items-card {
	margin: 10px;
	background-color: #eff0f1;
}

.ant-card.ant-card-bordered.events-items-card .ant-card-body {
	padding: 15px 15px 15px 15px;
}

@media screen and (max-width: 758px) {
	.ant-card.ant-card-bordered.events-items-card {
		margin: 7px;
	}

	.event-title {
		font-size: 1.4em;
		font-weight: 600;
	}
}
