.events-date {
	margin: 5px 20px 5px 5px;
	border: #375997 4px solid;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 80px;
}

.events-date .date {
	position: absolute;
	transform: translateY(20px);
	margin: 0%;
	font-size: 2.4em;
	font-weight: 700;
}
.events-date .month {
	margin: 0%;
	font-size: 1.5em;
	font-weight: 600;
	text-transform: uppercase;
}

.event-title {
	font-size: 1.8em;
	font-weight: 700;
}

.ant-card.ant-card-bordered.events-items-card {
	margin: 10px;
	background-color: #eff0f1;
	height: 100%;
}

.ant-card.ant-card-bordered.events-items-card .ant-card-body {
	padding: 15px 15px 15px 15px;
}

@media screen and (max-width: 758px) {
	.ant-card.ant-card-bordered.events-items-card {
		margin: 7px;
	}

	.event-title {
		font-size: 1.4em;
		font-weight: 600;
	}
}
